# Validations:

In [26]:
# 1. There are no 0/NaN values (each row has all values)

notna = df.notna()
if False in notna: 
    print ('False')
else: 
    print ("No NaN/empty values found")

No NaN/empty values found

In [47]:
# 2. Date should be one day: once timestamp configed check that date is same day

In [ ]:
# 3. A trip should have a trip number as well as a vehicle number. 
# The code for #1 should cover this

In [30]:
# 4. Every same trip number should have the same vehicle number 
# trips = df.groupby(['EVENT_NO_TRIP']).mean()
trips = df['EVENT_NO_TRIP'].unique()
trips.size

5751

In [27]:
# 5. There are a few millions records daily but not more (>5mil = alarm)
df['EVENT_NO_TRIP'].size

216463

In [29]:
# 6. The date should always be the same in every row 
date = df['OPD_DATE'].unique()
date.size

1

In [ ]:
# 7. The velocity should conform to a (normal?) distribution - max/min/mean speeds 
# Can't do without transformation

# Transformation -> SQL tables

In [ ]:
# df['c']=df['b'].apply(lambda x: 0 if x ==0 else math.log(x))

In [4]:
import pandas as pd
import sys, math

df = pd.read_csv("ok.csv")
df = df.drop(columns=['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP'])
from datetime import datetime, timedelta

def create_timestamp(i):
    date = datetime.strptime(i['OPD_DATE'],'%d%b%Y:%H:%M:%S')
    time = timedelta(seconds=i['ACT_TIME'])
    return date + time 
    
df['TIMESTAMP'] = df.apply(create_timestamp,axis=1)
df = df.drop(columns=['OPD_DATE', 'ACT_TIME'])

# Code that sets first breadcrumb value to second (not currently for all trips)
# df.sort_values(by='EVENT_NO_TRIP', na_position='first')
# df.iloc[0,6] = df.iloc[1,6]
def add_speed_column(df):
  # Calculate speeds using pd diff
  def get_speed(row):
    return row["dMETERS"] / row["dTIMESTAMP"].total_seconds()

  df["dMETERS"] = df["METERS"].diff()
  df["dTIMESTAMP"] = df["TIMESTAMP"].diff()
  df["SPEED"] = df.apply(get_speed, axis=1)
  # df.loc[0, "SPEED"] = 0

  # Go through each record. Each record that has a new EVENT_NO_TRIP should take the speed from the next record (the second record)
  prev_no_trip = -1
  for i in range(len(df)):
    current_no_trip = df.iloc[i]["EVENT_NO_TRIP"]
    if(current_no_trip != prev_no_trip):
      # Make sure a record exists after and belongs to the same trip
      if(i + 1 < len(df) and df.iloc[i + 1]["EVENT_NO_TRIP"] == current_no_trip and not math.isnan(df.iloc[i + 1]["SPEED"])):
        df.at[i, "SPEED"] = df.iloc[i + 1]["SPEED"]
      # Otherwise, just put 0
      else:
        df.at[i, "SPEED"] = 0
    prev_no_trip = current_no_trip
  return df.drop(columns=['dMETERS', 'dTIMESTAMP'])

df = add_speed_column(df)

df

NameError: name 'math' is not defined

# Transforming DF to SQL param tables: 
| BreadCrumb      | Trip |
| ----------- | ----------- |
| tstamp      | trip_id       |
| latitude   | route_id        |
| longitude   | vehicle_id        |
| speed   | service_key        |
| trip_id   | direction        |

In [89]:
# df.rename({'Courses': 'Course_ Name','Fee': 'CourseFee', 'Duration': 'CourseDuration'}, 
#           axis = "columns", inplace = True) 
BreadCrumb = df[['TIMESTAMP','GPS_LATITUDE', 'GPS_LONGITUDE', 'SPEED', 'EVENT_NO_TRIP']].copy()
BreadCrumb.rename({'TIMESTAMP': 'tstamp', 'GPS_LATITUDE': 'latitude', 'GPS_LONGITUDE':'longitude', 'SPEED':'speed', 'EVENT_NO_TRIP':'trip_id'}, axis='columns', inplace=True)
BreadCrumb.head(5)

               tstamp   latitude   longitude     speed    trip_id
0 2023-01-01 09:11:42  45.436270 -122.568135       NaN  229985012
1 2023-01-01 09:11:46  45.436510 -122.568260  6.750000  229985012
2 2023-01-01 09:11:52  45.436545 -122.568512  3.166667  229985012
3 2023-01-01 09:33:52  45.435910 -122.569083  0.131818  229985127
4 2023-01-01 09:33:57  45.436260 -122.569107  7.600000  229985127

In [93]:
Trip = df[['EVENT_NO_TRIP', 'VEHICLE_ID']].copy()
Trip.rename({'EVENT_NO_TRIP':'trip_id', 'VEHICLE_ID':'vehicle_id'},axis='columns',inplace=True)
Trip.insert(loc=1, column='route_id', value=-1)
Trip.insert(loc=3, column='service_key', value=-1)
Trip.insert(loc=4, column='direction', value=-1)

Trip.head(5)

     trip_id  route_id  vehicle_id  service_key  direction
0  229985012        -1        3058           -1         -1
1  229985012        -1        3058           -1         -1
2  229985012        -1        3058           -1         -1
3  229985127        -1        3058           -1         -1
4  229985127        -1        3058           -1         -1